*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
    --bg-color: #121416;
    --main-color: #FD7014;
    --second-level-color: #1b1b1d;
    --text-color: #EEEEEE;
    --text-two-color: rgb(163, 163, 163);
}
body{
    background-color: var(--bg-color);
}


/* NAV BAR */
.nav-bar{
    width: 90%;
    height: 2.5rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}
.follow-btn,
.share-btn{
    width: 2.2rem;
    height: 90%;
    margin: 1px;
    background-color: var(--second-level-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: var(--text-two-color);
    transition: transform 0.3s ease-in-out;
}
#notifica-img{
    width: 15px;
    height: 15px;
    margin: auto;
}
.nav-bar button:hover{
    transform: scale(1.1);
    background-color: rgb(75, 75, 75);
}

/* NEWS MODAL */
.news-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 80%;
    background-color: var(--second-level-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    max-width: 500px;
}
.backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    display: none;
}
.close-btn{
    position: absolute;
    right: 0;
    margin: 8px;
}
.news-modal h1{
    position: relative;
    top: 30px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: bold;
    width: 80%;
    margin: auto;
}
.articles{
    width: 80%;
    margin: 3rem auto;
    
}
.art h2{
    color: var(--main-color);
    font-size: 12px;
    margin-bottom: 0.2rem;
   
}
.art p{
    font-size: 10px;
    color: var(--text-two-color);
    margin-bottom: 1rem;
}


/* SHARE MODAL */
.share-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 80%;
    background-color: var(--bg-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    max-width: 500px;
}
.share-modal h1{
    position: relative;
    top: 30px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.share-link:first-of-type{
    margin-top: 3rem;
}
.share-link:last-of-type{
    margin-bottom: 2rem;
}
.share-link{
    display: flex;
    height: 1.5rem;
    width: 80%;
    margin: 8px auto;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}
.share-link:hover{
    transform: scale(1.1);
}
.share-link img{
    width: 20px;
    height: 20px;
    margin: 2px 8px;
    border-radius: 4px;
}
.share-link .description{
    color: var(--text-two-color);
    font-size: 10px;
    text-align: center;
    padding: 4px;
}
.share-link:hover{
    background-color: grey;
}
.share-link .arrow{
    font-size: 10px;
    color: var(--text-two-color);
    margin: 6px 8px;
}














button img{
    width: 20px;
    height: 20px;
    margin: 3px auto;
}
.Presentation{
    width: 90%;
    margin: auto;
}
.main-image{
    width: 6rem;
    margin: auto;
}
.main-image img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.description{
    width: 100%;
    margin: auto;
}
.description h1{
    margin-top: 1rem;
    font-size: 17px;
    color: var(--main-color);
    text-align: center;
}
.description p{
    font-size: 15px;
    color: var(--text-two-color);
    text-align: center;
}
.description p:first-of-type{
    margin-top: 4px;
}
.social{
    margin: auto;
    width: 80%;
    margin-top: 0.7rem;
    height: 2rem;
    display: flex;
    align-items: center;
}
.social img{
    margin: auto;
    width: 28px;
    height: 28px;
}
.social img:hover{
    transform: scale(1.1);
}
.button-link{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}
.button-link a{
    background-color: var(--second-level-color);
    border: none;
    margin: 4px 0px;
    height: 3.5rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: var(--text-two-color);
    cursor: pointer;
    display: flex;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}
.button-link a:hover{
    transform: scale(1.1);
    
}
.button-link a button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--second-level-color);
    color: var(--text-two-color);
    margin: 5px 2px;
}
.button-link a img{
    width: 40px;
    height: 30px;
    margin: auto 6px;
}
.button-link a p{
    font-size: 15px;
    text-align: left;
    margin: auto;
}
#MySetup{
    display: flex;
    flex-direction: column;
    height: 10rem;
}
#MySetup img{
    width: 95%;
    height: 100px;
    margin: 6px auto;
    border-radius: 4px;
}
#MySetup div{
    display: flex;
}
#MySetup p{
    width: 45%;
    text-align: center;
    margin-left: 30%;
}
#MySetup button{
    margin-top: -3px;
}
.subtitle{
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 0.5rem
}
